@import url(http://fonts.googleapis.com/css?family=Open+Sans:600italic|Merriweather:400|Open+Sans:300|Open+Sans:600|Open+Sans+Condensed:700|Libre+Baskerville:italic);
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

header {
	position: relative;
}

.clear {
	clear: both;
}

.main-container {
	height: 100vh;
}

.top-nav {
	width: 100%;
	display: inline-block;

}


.main-nav {
	display: inline-block;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	width: 100%;
	height: 100px;
	position: absolute;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(255,255,255,0);
}

.nav-logo {
	display: inline-block;
	width: 20%;
	height: 100px;
	font-size: 100px;
	color: rgba(150,150	,150,0.8);
	text-align: center;
}

.list-container {
	display: inline-block;
	padding-left: 10rem;
	float: right;
	width: 50%;
	height: 100px;
	margin: 0;
	text-align: center;
}

.list-container li {
	display: inline-block;
	line-height: 100px;
	margin: 0 1rem;
	font-family: Lovelo, sans-serif;
	letter-spacing: 2px;
    font-size: 16px;
    font-weight: bold;
}

.list-container a {
	text-decoration: none;
	color: rgba(255,255,255,0.4);
}
.list-container a:hover {
	color: rgba(255,255,255,0.9);
}

.list-orange {
	color: rgba(255,40,40,0.7);
}

.links-change {
	color: rgba(0 0 0 1);
}

.slide-container {
	display: block;
	margin: 0 auto;
	height: 80vh;
}

.main-content {
	height: 100vh;
}

.top-main-content {
	font-family: Open Sans;
	font-weight: 300;
	font-size: 20px;
	padding: 30px 50px 30px 50px;
	text-align: center
}

body .bold-content {
	font-family: Open Sans;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    padding: 40px, 50px, 0, 50px;


}

/*columns*/

.three_col {
    display: flex;
    height: 100vh;
    padding: 50px;

}

.three_col div 	{
    flex: 1;
    background: white;
}

.three_col .content-side {
	width: 85%;
	height: 40%;
	display: inline-block;
	padding-left: 40px;
} 

.three_col p {
	margin: 0;
	font-family: Open Sans;
    font-size: 18px;
    line-height: 28px;
    font-weight: 200;
}

.three_col .logo-side {
	position: absolute;
	font-size: 40px;
	display: inline-block;
	bottom: -280px;
}

.col_2 {
    order: 2;
    background: green;
}


/* images */

.pic1 {
	background-image: url(http://www.lorempixel.com/1280/800);
	background-size: cover;
}

.pic2 {
	background-image: url(http://www.lorempixel.com/1280/800);
	background-size: cover;
}

.pic3 {
	background-image: url(http://www.lorempixel.com/1280/800);
	background-size: cover;
}

/*slick*/
body .slick-slide {
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
}

body .slick-slider{
	margin-bottom: 0px;
}

body .slick-prev{
	left: 10px;
	z-index: 1;
}

body .slick-next{

	right: 10px;
}

/*skrollr*/
.skrollable {
	transition: all .1s;
	/*-o-transition: all .3s;*/
	-ms-transition: all .1s;
	-moz-transition: all .1s;
	-webkit-transition: all .1s;
}


